#title {
  font-family: Montserrat; 
  font-weight: 600; 
  margin-top: 0px; 
  margin-bottom: 20px;
}

#rate {
  font-family: Montserrat; 
  font-weight: 400; 
  font-size: small;
}

input {
  font-family: Montserrat; 
  font-weight: 400;
}
